#exclude everything initially + the main executable.
*.*
main
tests

#but not for anything inside the docs dir.
!/docs/**

# Gotta have git stuff still.
!.gitignore

# Also have to have some core files that make the project.
!*.h
!*.hpp
!*.cpp
!*.md
!*.sh